*{
    box-sizing: border-box;
   }

   @font-face {
    font-family:'Segoe UI';
    src: url(../fonts/Segoe\ UI.ttf);}

    .box-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 97px;
    border: 2px solid transparent;
    border-radius: 336px;
    background-image:  Linear Gradient rgba(214, 41, 119, 1) rgba(237, 129, 40, 1);
    }

    .main{
    height: 563px;
    width: 790px;        
    background-color: #EFEFEF;
    border-radius: 36px;
    }

    .text-like{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;

color: #9A9A9A;
    }

    .text-btn{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;

color: #9A9A9A;
    }