*{
    box-sizing: border-box;
   }

   @font-face {
    font-family:'Segoe UI';
    src: url(../fonts/Segoe\ UI.ttf);}

    .box-image{
  height:90px;
  width: 90px;
  border-style: solid;
  border-color: #d62977;
  border-radius: 336px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
    }

    .main{
    height: 563px;
    width: 790px;        
    background-color: #EFEFEF;
    border-radius: 36px;
    }

    .text-like{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;

color: #9A9A9A;
    }

    .text-btn{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;

color: #9A9A9A;
    }

    .arrow{
width: 49px;
height: 49px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 250px;
left: 36px;

background: rgba(255, 255, 255, 0.25);
border: 1px solid rgba(255, 255, 255, 0.2);
backdrop-filter: blur(2.5px);
border-radius: 36px;
    }

    .arrow1{
width: 49px;
height: 49px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 250px;
left: 428px;
        
background: rgba(255, 255, 255, 0.25);
border: 1px solid rgba(255, 255, 255, 0.2);
backdrop-filter: blur(2.5px);
border-radius: 36px;
}
